@import "reset.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article__list {
  width: 1024px;
}

.create__container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 20px;
  border: 3px solid #edd9b7;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
}

table {
  width: 100%;
  border-top: 1px solid #d3d3d3;
  border-collapse: collapse;
}

th {
  background-color: #edd9b7;
  border-top: 3px solid #727272;
}

th,
td {
  border-bottom: 1px solid #d3d3d3;
  padding: 10px;
  text-align: center;
}

.create__content {
  display: flex;
  justify-content: center;
}

.create__content__bottom {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 20px;
}

.input__title {
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

.input__content {
  width: 100%;
  height: 200px;
  resize: none;
}

.commentBox {
  width: 550px;
  min-height: 40px;
  margin: 10px;
  overflow: wrap;
  resize: none;
}

.commentList {
  margin: 10px;
}

.comment {
  margin: 10px;
  display: flex;
}

.commentProfile {
  flex: 1.5;
  padding: 0;
  display: flex;
  align-items: center;
  margin-right: -20px;
}

.commentProfileImage {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: solid gray 1px;
}

.commentContent {
  flex: 10;
}

.commentBottom {
  display: flex;
  justify-content: space-between;
}

.articleTableBanner {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.articleSearchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.articleSearchInput {
  width: 300px;
  height: 35px;
  border-radius: 2em;
  border: 3px solid #edd9b7;
  padding-left: 80px;
  padding-right: 50px;
  z-index: 0;
  border-left: 3px solid #edd9b7;
}

#articleSearchButton {
  width: 30px;
  height: 30px;
  margin-left: -60px;
  cursor: pointer;
  z-index: 1;
}

.articleSearchSelect {
  z-index: 1;
  height: 27px;
  padding-top: 10px;
}

.articleSearchSelectBar {
  border: transparent;
  margin-top: -10px;
  // border-style: none;
}

.articlePageBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.commentContainer {
  display: flex;
  align-items: center;
}
