input {
  border: 1px solid #edd9b7;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
}

.container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border: 1px solid #edd9b7;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
}

.login__form__input{
  width: 200px;
  height: 30px;
  margin: 7px 20px;
}

.login__content {
  margin: 10px;
}

.signup__container {
  box-sizing: border-box;
  width: 400px;
  height: 460px;
  border: 1px solid #edd9b7;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup__form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.signup__form__input{
  padding-left: 10px;
  width: 200px;
  height: 30px;
  margin: 7px 20px;
}

// 회원가입 성별 라디오 버튼
.signup__form__radios{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 10px;
  width: 70%;

  div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.signup__form__radio{
  width: 20px;
  margin-right: 10px;
}

.signup__form__buttons{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}

.pwCheck {
  color: gray;
}
