input {
  border: 1px solid #edd9b7;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
}

.login-btn {
  height: 40px;
}

.container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 300px;
  border: 1px solid #edd9b7;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;

  h1 {
    margin-top: 15px;
  }
}

.login__form__buttons {
  width: 260px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px 0px;

  span {
    cursor: pointer;
    font-size: 14px;
  }
}
.login__form__button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px 0px;

  button {
    width: 260px;
    font-size: 16px;
  }
}

.login__form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  input {
    width: 250px;
    height: 30px;
    margin: 7px 20px;
  }

  .login__form__label {
    width: 260px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
  }
}

.signup__container {
  box-sizing: border-box;
  width: 400px;
  height: 460px;
  border: 1px solid #edd9b7;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-top: 10px;
  }
}

.signup__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.signup__form__input {
  padding-left: 10px;
  width: 200px;
  height: 30px;
  margin: 7px 20px;
}

// 회원가입 성별 라디오 버튼
.signup__form__radios {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 10px;
  width: 70%;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.signup__form__radio {
  width: 20px;
  margin-right: 10px;
}

.signup__form__buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;

  button {
    width: 80px;
  }
}

.pwCheck {
  color: gray;
}
