.container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login__container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.login__content {
  margin: 10px;
}

.signup__container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid black;
  border-radius: 8px;
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
}

button {
  margin: 10px;
}

.pwCheck {
  color: gray;
}
