.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.notice__list {
  width: 1024px;
}

.create__container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 20px;
  border: 3px solid #edd9b7;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
}

.create__content {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  border-top: 1px solid #d3d3d3;
  border-collapse: collapse;
}

th {
  background-color: #edd9b7;
  border-top: 3px solid #727272;
}

th,
td {
  border-bottom: 1px solid #d3d3d3;
  padding: 10px;
  text-align: center;
}

.input__title {
  width: 80%;
  height: 20px;
}

.input__content {
  width: 80%;
  height: 200px;
}

.pageBtn {
  margin: 5px;
}

.noticeSearchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.noticeSearchInput {
  width: 300px;
  height: 35px;
  border-radius: 2em;
  border: 3px solid #edd9b7;
  padding-left: 20px;
  padding-right: 50px;
  z-index: 0;
}

#noticeSearchButton {
  width: 30px;
  height: 30px;
  margin-left: -60px;
  cursor: pointer;
  z-index: 1;
}

.noticeSearchSelect {
  z-index: 1;

  height: 27px;
  padding-top: 10px;
}

.noticeSearchSelectBar {
  border: transparent;
  margin-top: -10px;
}

.noticePageBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
