.user-image {
  width: 180px;
  height: 220px;
}

.myprofile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myprofile {
  width: 800px;
  display: flex;
  flex-direction: column;
  border: 3px solid #edd9b7;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
}

.top-section {
  display: flex;
  width: 100%;
  justify-content: center;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.teacher-image {
  width: 170px;
  height: 220px;
  object-fit: cover;
}

.img-button-container{
  display: flex;
  justify-content: space-between;
}

.info-container {
  height: 220px;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.info-field {
  /*flex-basis: calc(50% - 10px);*/
  flex: 1;
  padding:20px;
  height: 50%;
  box-sizing: border-box;
  text-align: left;
}
.info-content{
  border: 2px solid #edd9b7;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
}

.button {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.button button {
  width: 100px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  max-width: 500px;
  width: 90%;
  position: relative;
  z-index: 1001;
  padding: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  padding: 20px 0;
}

.modal-footer {
  text-align: right;
}

.close-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.5em;
}

.teacher-list {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}