select {
  background-color: #edd9b7;
  font-family: "mainfont";
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  margin: 20px 0px;

  .search-bar__keyword {
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    margin: 0px 20px;
    border: 1px solid black;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.filters {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
