.save-button {
    display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  position: absolute; 
  bottom: 0;
}
.description-input {
  width: 100%; 
  border: 1px solid black;
  padding: 10px;
  height: auto; 
  min-height: 6em;
  overflow: auto; 
  overflow-x: hidden;
  line-height:1.2em;
  margin-bottom:20px;
  border-radius:10px;
  
}

.description-box {
  border: 1px solid black;
  padding: 10px;
  height: auto;
  min-height: 6em;
  overflow: auto;
  overflow-x :hidden;
  line-height:1.2em;
  margin-bottom:20px;
  border-radius:10px;
}

.description-box textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
}


.teacher-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.teacher-profile {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 800px;  
  border: 3px solid #edd9b7;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
}

.top-section {
  display: flex;
}

.attach-image {
  width:170px;
  height:220px;
  object-fit: cover;
}

.teacher-image {
  width: 170px;
  height: 220px;
  object-fit: cover;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.info-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: space-between;
  width: 100%;
}

.name-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.name-label {
  flex: 1;
}

.name-input {
  flex: 4;
  width: 200px; 
}

.teacher-profile-update-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*.left-field, .right-field {
  display: flex;
  flex-direction: column;
  width: 45%;
}*/

.input-field {
  margin: 5px;
}

.teacher-profile-update-container {
  border: 2px solid #edd9b7;
  padding: 10px;
  height: auto; 
  min-height: 6em;
  max-height: auto; 
  overflow: auto; 
  line-height: 1.2em; 
  margin-bottom: 20px;
  border-radius: 10px;  
}
.instrument-selected{
  background-color: #edd9b7;
  border-radius: 10px;
  margin-left: 5px;
  font-size: smaller;
}
.button-delete{
  width: 5px;
  height: 5px;
}
.days-container {
  display: inline-block;
  margin-right: 10px;
}
#start, #end, #years, #cost{
  height: 23px;
  width: 50px;
  background-color: #edd9b7;
  border: none;
  border-radius: 5px;
  text-align: center;
}