@import "reset.scss";

.save-button {
    display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.description-input {
  width: 100%; 
  border: 1px solid black;
  padding: 10px;
  height: auto; 
  min-height: 6em;
  overflow: auto; 
  overflow-x: hidden;
  line-height:1.2em;
  margin-bottom:20px;
  border-radius:10px;
  
}

.description-box {
  border: 1px solid black;
  padding: 10px;
  height: auto;
  min-height: 6em;
  overflow: auto;
  overflow-x :hidden;
  line-height:1.2em;
  margin-bottom:20px;
  border-radius:10px;
}

.description-box textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
}


.teacher-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.teacher-profile {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 800px;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
}

.top-section {
  display: flex;
}

.teacher-image {
  width: 170px;
  height: 220px;
  object-fit: cover;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.name-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name-label {
  flex: 1;
}

.name-input {
  flex: 4;
  width: 200px; 
}

.teacher-profile-update-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-field, .right-field {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.input-field {
  margin: 10px 0;
}

.teacher-profile-update-container {
  border: 1px solid black;
  padding: 10px;
  height: auto; 
  min-height: 6em;
  max-height: auto; 
  overflow: auto; 
  line-height: 1.2em; 
  margin-bottom: 20px;
  border-radius: 10px;  
}

.days-container {
  display: inline-block;
  margin-right: 10px;
}
