h2 {
	margin-bottom: 10px;
}

.teacher-profile-form__row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;

	div {
		margin-right: 80px;
	}
}

.teacher-profile-form__input {
	margin-bottom: 10px;
	label {
		margin-right: 10px;
	}
}

.teacher-profile-form__instruments {
	button {
		margin-right: 5px;
	}
}

.unselected-instrument {
	background-color: transparent;
	border: solid #edd9b7 2px;
	color: #e6b96b;
}

.image-container {
	position: relative;
	width: 170px;
	height: 220px;
	margin-right: 15px;
	margin-bottom: 10px;
}

.image-remove {
	position: absolute;
	bottom: 3%;
	right: 3%;
}

.file__header {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.file__images {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: left;
	flex-wrap: wrap;
}

.profile__submit-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 10px;
}