.teacher-card {
  display: flex;
  width: 800px;
  height: 140px;
  border: 1px solid #e8c68c;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
}

.teacher-card__image {
  width: 140px;
  height: 140px;
  margin-right: 20px;
  border-radius: 10px;
  object-fit: cover;
}

.teacher-card__image:hover {
  cursor: pointer;
}

.teacher-card__info {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  font-size: 16px;
  flex-grow: 1;
}

.teacher-card__info__grade {
  display: flex;
  flex-direction: row;
}

.teacher-card__info__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.teacher-card__info__sub {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.teacher-card__instrument {
  font-size: 16px;
  margin-right: 10px;
}

.teacher-career {
  margin-left: 10px;
  font-size: 16px;
}

.teacher-avg-rating {
  margin-right: 10px;
  font-size: 16px;
}

.contact-count {
  margin-left: 10px;
  font-size: 16px;
}

.teacher-name {
  margin-bottom: 10px;
  font-size: 24px;
}

.teacher-name:hover {
  cursor: pointer;
}

.teacher-description {
  font-size: 16px;
  margin: 5px 0px;
  height: 50px;
  width: 640px;

  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.teacher-card__buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.teacher-card__button {
  margin-right: 20px;
}
