@import "reset.scss";

.teacher-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    
  }
  
  .button-group {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .button {
    background: none;
    border: none;
    color: inherit;
    text-align: inherit;
    cursor: pointer;
    padding: 0;
    font: inherit;
    outline: inherit;
    text-decoration: none; 
    margin-right: 10px; 
  }
  
  
  .attach-image {
    width:170px;
    height:220px;
    object-fit: cover;
  }
  
  .description-box {
    border: 1px solid black;
    padding: 10px;
    height: auto; 
    min-height: 6em;
    max-height: auto; 
    overflow: auto; 
    line-height: 1.2em; 
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .introduce {
    border: 1px solid black;
    width: 30px;
  }
  
  .teacher-profile {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 800px;  
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
  }
  
  .top-section {
    display: flex;
  }
  
  .teacher-image {
    width: 170px;
    height: 220px;
    object-fit: cover;
  }
  
  .teacher-name-gender-info {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 200px;
    flex-grow: 1;
  }
  
  .name-gender-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .name-box,
  .gender-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 30%;
    text-align: center;
  }
  
  .box {
    display: flex;
    font-size: 16px;
    border: 1px solid black;
    width: 70px; 
    height: 24px;
    margin: 1px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .teacher-info-container {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    height: 140px; 
    justify-content: center;
    align-items: center;
  }
  
  .info-box {
    margin-bottom: 5px;
    text-align: left;
    height: 15px;
    display: flex;
    align-items: center;
  }
  
  .label {
    line-height: 1; 
    margin: 0; 
    padding: 0; 
  }

  .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }