button {
  background-color: #edd9b7;
  border-radius: 0.5em;
  border-color: transparent;
  cursor: pointer;
  font-family: mainfont;
}

.banner {
  background-color: #edd9b7;
  width: 100%;
  height: 100px;
  font-size: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  padding-left: 350px;
}

.pageBtn {
  margin: 10px;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
  font-size: 13px;
  font-family: mainFont;
}

.pageBtn:hover {
  font-size: 15px;
  margin: 9px;
}
