.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
  padding: 8px 12px;
}

.navbar__logo {
  padding-left: 0;
}

.navbar__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 30px;
}
