:root {
  // 강사 검색 필터 슬라이더 색상
  --slider-connect-bg: #edd9b7;
  --slider-tooltip-bg: #edd9b7;
  --slider-handle-ring-color: #edd9b7;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

input,
textarea {
  padding-left: 5px;
  font-family: "mainfont";
}

hr {
  background-color: #edd9b7;
  height: 1px;
  border: 0px;
}

button {
  // 버튼 텍스트 가운데 정렬
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #edd9b7;
  border-radius: 0.5em;
  border-color: transparent;
  cursor: pointer;
  font-family: mainfont;
  text-align: center;
  padding: 5px 10px;
}

.banner {
  background-color: #edd9b7;
  width: 100%;
  height: 100px;
  font-size: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  padding-left: 350px;
}

.pageBtn {
  margin: 10px;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
  font-size: 13px;
  font-family: mainFont;
}

.pageBtn:hover {
  font-size: 15px;
  margin: 9px;
}

::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #edd9b7; /* 스크롤바의 색상 */

  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
}

.footer__container {
  margin-top: 150px;
  background-color: #edd9b7;
  padding: 0px 100px 0px 100px;
  height: 100px;
  display: flex;
}
